@font-face {
    font-family: 'tt_normsextralight';
    src: url('ttnorms-extralight-webfont.woff2') format('woff2'),
         url('ttnorms-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}